.Rproj.user
.Rhistory
.RData
CV_def.Rdata
CV_mod.Rdata
CV_bay.Rdata
NCV_def.Rdata
NCV_mod.Rdata
NCV_bay.Rdata
1_NCV.hbu
1_NCV.log
1_NCV.restart
1_NCV_alpha.csv
1_NCV_covariances.csv
1_NCV_meanbeta.csv
1_NCV_priorcovariances.csv
1_NCV_stddev.csv
1_NCV_summary.txt
1_NCV_utilities.csv
1_NCV_utillayout.xml
2_CV.hbu
2_CV.log
2_CV.restart
2_CV_alpha.csv
2_CV_covariances.csv
2_CV_meanbeta.csv
2_CV_priorcovariances.csv
2_CV_stddev.csv
2_CV_summary.txt
2_CV_utilities.csv
2_CV_utillayout.xml